body{
    background-color: seagreen;
}
#gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-item{
    width: 300px;
    border-radius: 5px;
    margin: auto;

}
#what-we-are-about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    
      width: 60vw;
      max-width: 700px;
      margin: 0 auto;
      padding-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
}

input{
    width: 500px;
    display: block;
}
input[type="checkbox"]{
    display: inline;
    width: 50px;
}
h1, h2, p{
    margin: 1em auto;
      text-align: center;
}
#logo{
    border-radius: 100px;
}
