body{
    background-color: seagreen;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 15px;
}
nav{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    color: #b3b3b3;
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding: 12px 40px;
    border: 1px solid #9d9fa2;
    border-radius: 1.5px;
    background-color: #cad0ce;
    cursor: pointer;
}
nav li:hover{
    background-color: #5db596;
    color: #fff;
}
#logo{
    width: 10%;
    height: 10%;
    border-radius: 100%;
}
#gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-item{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 4px;
    border-radius: 10px;

}
#what-we-are-about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    
      width: 60vw;
      max-width: 700px;
      margin: 0 auto;
      padding-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
}

input, select{
    width: 500px;
    margin: 2px auto ;
    display: block;
    border: 2px;
    border-radius: 4px;
    
}
input[type="checkbox"]{
    display: inline;
    width: 50px;
}
h1, h2, p{
    margin: 1em auto;
      text-align: center;
}



.gallery, .contact, footer{
    background-color: #cad0ce;
    padding: 10px;
    border-radius: 10px;
}
